<html>

<head>
  <title>A Situação do seu Chamado mudou</title>
</head>

<body>
  <h1>HD7</h1>
  <p>Olá, {{person.nome}}! Seu chamado agora está <span style={{{colorHelper}}}>{{upperCaseHelper situacao}}</span>
  </p>
</body>

</html>